  body {
    background-image: url(img/FondoNubes.png);
    background-size: contain; /* Asegura que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita (Mosaico) */
    background-position: center 65px; /* Centra la imagen en la pantalla y mueve la imagen hacia abajo 50px */
    margin: 0; /* Elimina los márgenes predeterminados */
    height: 85vh; 
    background-color: #ffffff00;
    justify-content: center;
    display: flexbox;
    font-family: cursive;
  }
  
  .navbar {
    background-color: #86bbff;
    justify-content: center;
    display: flex;
    padding: 0%;
  }
  
  .section-inicio{
    text-align: center;
    justify-content: center;
    display: flexbox;
    padding: 0%;
    margin-top: 15vh;
    height: 23vh;
  }

  .section-inicio h1{
    color: #c9c9c9;
    font-size: 70px;
    font-weight:bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #4c4c4c;
  }
  

  /*Diseño de botones*/
  .section-inicio-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .section-inicio-btns a{
    position: relative;
    width: 300px;
    height: 75px;
    margin: 25px 0;
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    color: #4c4c4c;
    font-weight:bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #4c4c4c;
  }

  .section-inicio-btns a:hover{
    color: #fff;
    -webkit-text-stroke-color: #fff;
  }

  .section-inicio-btns a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url(img/btn-img-2.png);
    background-size: cover; 
    transform-origin: left;
    transition: 0.5s;
  }

  .section-inicio-btns a:hover:before{
    width: 100%;
  }

  .section-inicio-btns a span{
    position: relative;
    z-index: 1;
  }


/*Diseño de login*/
.wrapper{
  width: 330px;
  padding: 2rem 1rem;
  margin: 30px auto;
  background-color: fff;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

 .wrapper h1{
  font-size: 2rem;
  color: #c9c9c9;
  font-weight:bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #4c4c4c;
  margin-bottom: 15px;
 }

 .wrapper form input{
  width: 92%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #e4e4e4;
 }

 .wrapper input:focus{
  border: 1px solid rgb(192, 192, 192);
 }

 .member{
  font-size: 0.8rem;
  color: #c9c9c9;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #4c4c4c;
 }

 .member a{
  color: #325b9d ;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #325b9d;
 }

 .recover{
  text-align: right;
  font-size: 0.7rem;
  margin: 0.3rem 1.4rem 0 0;
 }

 .recover a{
  color: #4c4c4c ;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #4c4c4c;
 }

  .search-section input {
    width: 150px;
    margin: 5px;
  }
  
  /* Agregar esta clase en tu archivo de estilos o dentro de una etiqueta <style> */
  .small-dropdown {
    padding: 5px;
    font-size: 14px;
    min-height: 40px;
  }
  
  /* Estilo para el dropdown de iniciar sesión */
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Corrección: usar 100% para que se posicione justo debajo */
    right: 0;
    left: auto;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px; /* Agregar borde redondeado */
    min-width: 500px;
    z-index: 9999;
  }
  
  /* Corrección: eliminar reglas que ocultan las filas */
  .row {
    display: flex; /* Mostrar las filas */
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: auto;
  }
  
  .dropdown-menu .row {
    width: 100%; /* Ajusta el ancho según sea necesario */
    margin: 0 auto;
  }
  
  .dropdown-menu .col-md-5 {
    padding-right: 10px; /* Agregar padding a la derecha */
    padding-left: 10px; /* Agregar padding a la izquierda */
    width: 100px;
  }
  
  .dropdown-menu form {
    width: 100%; /* Los formularios ocupan el 100% del ancho de la columna */
    padding: 20px;
  }
  
  .dropdown-menu button {
    background-color: #660000;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .form-group{
    width: 30%;
    left: 40vh;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px; /* Agregar margen inferior */
    margin-top: 15px;
    text-align: start;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control:focus {
    background-color: #fff;
    border-color: #660000;
    box-shadow: 0 0 10px rgba(102, 0, 0, 0.6);
  }
  
  .form-control {
    background-color: #f2f2f2;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px; /* Ajustar padding */
    font-size: 1rem; /* Ajustar tamaño de fuente */
    height: auto; /* Altura automática */
    width: 100%; /* Los inputs ocupan el 100% del ancho del contenedor */
  }
  
  .container {
    width: 600px;
  }
  
  /*resultados de busqueda
  */
  #search-results {
    position: absolute; /* Para que se posicione debajo del input */
    top: 110%; /* Justo debajo del input */
    left: 565px; /* Alineado con el input */
    width: 405px; /* Mismo ancho del input */
    z-index: 1000; /* Sobre otros elementos */
    background-color: white; /* Fondo blanco para destacar */
    border: 1px solid #ccc; /* Bordes del desplegable */
    border-radius: 0 0 5px 5px; /* Bordes redondeados en la parte inferior */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efecto flotante */
    max-height: 300px; /* Límite de altura con scroll */
    overflow-y: auto; /* Habilita scroll si hay muchos resultados */
    display: none; /* Ocultar por defecto */
    padding: 0; /* Sin espacio adicional */
  }
  
  #search-results .list-group-item {
    padding: 10px 15px; /* Espaciado interno */
    border-bottom: 1px solid #eee; /* Separación entre elementos */
    cursor: pointer; /* Cambiar el cursor al pasar */
  }
  #search-results .list-group-item:last-child {
    border-bottom: none; /* Sin borde en el último elemento */
  }
  #search-results .list-group-item:hover {
    background-color: #f8f9fa; /* Efecto hover */
  }
  
  #search-input{
    left: 560px; /* Alineado con el input */
    width: 1000px;
  }
  
  #top-books, #genres-list {
    max-height: 200px;
    overflow-y: auto;
  }
  
  #search-results {
    max-height: 300px;
    overflow-y: auto;
  }
  
  #action-container {
    width: 96%; /* Cambia al ancho deseado */
    max-width: 1900px; /* Define un ancho máximo si es necesario */
    height: auto;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: none; /* Inicialmente oculto */
  }
  
  .back-arrow:hover {
    color: #0056b3;
  }